QMainWindow{
	background-color: #FAFAFA;
	border-width: 1px; 
	border-style: solid;
	border-color: #cccccc;
	border-radius: 2px;
	text-align:center;
	font-size: 10pt;
	font-family: Microsoft YaHei;
	font-weight: 400;
	color: #444444;
}
QWidget#centralWidget
{
	background-color: #FAFAFA;
}
QLabel
{
	font-size: 12px;
	font-family: Microsoft YaHei;
	font-weight: 400;
	color: #444444;
}
QPushButton
{
	font-size: 14px;
	font-family: Microsoft YaHei;
	font-weight: 400;
	text-align:center;
	background: transparent;
	border:1px solid #CCCCCC;
	border-radius: 4px;
	color: #444444;
}
QPushButton#btnCreate
{
	border:none;
	background-color: #f54f36;
	color: #FFFFFF;
	min-height:80px;
	min-width:200px;
	margin: 5px 5px 5px 5px;
	text:"Hello";
}
QPushButton#btnCreate:hover
{
	background-color: #ff5c43;
}
QPushButton#btnCreate:pressed
{
	background-color: #e3422a;
}
QPushButton#btnCreate:disabled
{
	background-color: rgba(245,79,54,0.5);
}
